.container {
  background-color: #0b3d91;
  width: 500px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin-top: 20px;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
      height: auto;
    }

       .saida {
    position: absolute;
    margin-top: -20px;
    right: 30px;
    background-color: #e40000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 14px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #b80000;
      transform: scale(1.05);
    }
  }
  }

  h1 {
    text-align: center;
    color: yellow;
    font-size: 20px;
    text-transform: lowercase;
    margin-top: 80px;
  }

  p {
    font-size: 15px;
    text-align: justify;
    margin-top: 10px;
    color: #fff;
  }

  label {
    font-size: 15px;
    display: block;
    margin-top: 10px;
  }

  input[type='text'],
  input[type='number'],
  textarea {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .doc-options {
    margin-top: 5px;

    input {
      margin-right: 5px;
    }
  }

  .radio-group {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }

  .file-upload {
    width: 100%;
    height: 100px;
    background-color: #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      background-color: #bbb;
    }
  }

  .submit-btn {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e6d200;
    }
  }
}
