@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inder&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');
body {
  font-family: Arial, sans-serif;
  background-color: rgb(121, 119, 119);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}