.Adimin{
    background-color: #0b3d91;
  width: 700px;
  height: 600px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin-top: 20px;

  .logo{
    width: 360px;
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
   
  }

 .login{
    margin-left: 40px;
    height: 40px;
    width: 100px;
    border-radius:6px;
    border: none;
    background-color: #ffde00;
    
    
 }

 .cadeado{
    width: 150px;
    margin-top: 100px;
    margin-left: 20px;
 }
 
 .cadastro{
    margin-top: -10px;
    background-color: #d9d9d973;
    border-radius: 10px;
    height: 350px;
 }

 h2{
    margin-left: 300px;
    font-size: 20px;
    margin-top: -110px;
 }

 h3{
    margin-left: 314px;
    font-size: 20px;
    margin-top: 20px;
 }

 .inputt1{
    display: flex;
    margin-left: 390px;
    margin-top: -34px;
    border-radius: 7px;
    height: 20px;
    width: 200px;
    border: none;
 }
 .inputt2{
    display: flex;
    margin-left: 390px;
    margin-top: -40px;
    border-radius: 7px;
    height: 20px;
    width: 200px;
    border: none;
 }

 .botas{
    margin-left: 300px;
    margin-top: 50px;
    background-color:#042a6b ;
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    align-items: center;
    border-radius: 6px;
 }

}