.Cadastra {
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: #002b80;
  font-family: "Poppins", sans-serif;
  position: relative;

  h1 {
    color: white;
    margin-top: -10px;
    font-size: 25px;
  }

  .saida {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #e40000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #b80000;
      transform: scale(1.05);
    }
  }

  label {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 15px;
    color: white;
    font-size: 14px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: #f0f0f0;
    font-size: 15px;

    &:focus {
      background-color: white;
      box-shadow: 0 0 5px #ffffff;
    }
  }



.input-senha {


.toggle-senha {
  position: absolute;
  left: 425px;
  top: 295px;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  color: #333;
  transition: 0.2s ease;
}

.toggle-senha:hover {
  opacity: .7;
  transform: translateY(-50%) scale(1.1);
}

}
.botao-cadastrar{

  background: linear-gradient(to right, #00bcd4, #2196f3);
  border: none;
  border-radius: 25px;
  padding: 10px 35px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
}
