.Denuncia{
  background-color: #0B3D91;
  width: 500px;
  height: 1050px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin-top: 20px;
   .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
      height: auto;
    }

     .saida {
    position: absolute;
    margin-top: -20px;
    right: 30px;
    background-color: #e40000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #b80000;
      transform: scale(1.05);
    }
  }
  }
  h1 {
    text-align: center;
      color: #fab41d;
    text-shadow: 3px 5px 5px black;
    font-size: 20px;
    text-transform: lowercase;
    margin-top: 20px;
    font-weight: 300;
    font-family: "Krona One",sans-serif;
  }
  h2{
    margin-top: 75px;
    font-size: 17px;
    font-weight: 300;
    font-family: "Krona One",sans-serif;
    
  }
  h3{
    font-family: "Inder";
    font-weight: 300;
    margin-top: 30px;
    font-size: 13px;
  }




.texto{
  background-color: #d9d9d91e;
  margin-top: 30px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;

  
  .po{
    font-size: 14px;
    margin-left: 10px;
     font-family: "Inder";
    font-weight: 300;
    
  }

  .vaa{
    color: #fab41d;
    font-size: 14px;
    margin-left: 10px;
  }
 .bo {
  height: 30px;
  width: 100px;
  margin-left: 380px;
  margin-top: -20px;
  border: none;
  border-radius: 11px;
  background-color: #fab41d;
}
}


.text{
  background-color: #d9d9d91c;
  margin-top: 30px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;

  .p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: -5px;
    font-family: "Inder";
    font-weight: 300;
    
  }
  .b {
  height: 30px;
  width: 100px;
  margin-left: 380px;
  margin-top: -10px;
  border: none;
  border-radius: 11px;
  background-color: #fab41d;
}
}

.texe{
  background-color: #d9d9d91c;
  margin-top: 30px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;

  .para{
    font-size: 14px;
    margin-left: 10px;
    margin-top: -10px;
    font-family: "Inder";
    font-weight: 300;
    
  }
  .bot {
  height: 30px;
  width: 130px;
  margin-left: 360px;
  margin-top: 6px;
  border: none;
  border-radius: 11px;
  background-color: #fab41d;
}
}

}